body {
	background-color: black;
	font-family: Verdana;
}

.ui-panelgrid {
	width: 100%;
}

.mainPanel {
	background-color: black;
	font-family: Verdana;
}
.panelGridDialog{
	border-style: none;
	border: none;
}